<!DOCTYPE html>
<html lang="en">
<head>
    <title>UST Student OTP</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Please do not share your OTP with anyone.</h1>
    <p>{{ otp }}</p>
</body>
</html>